body {
  color: #fcfcfc;
  text-shadow: 2px 2px 3px #000;
  font-family: sans-serif;
  font-size: 0.6rem;
  /* Replace gradient with image */
  background: url('/background.jpeg') no-repeat center center fixed;
  background-size: cover;
}
