body {
    color: #fcfcfc;
    text-shadow: 2px 2px 3px #000;
    font-family: sans-serif;
    font-size: 0.6rem;
    background: rgba(23, 66, 232, 1.0);
    background: fixed linear-gradient(to bottom right, #125e71, #0a4a1f);
}
.network-background-canvas {
    background: rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}